@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-size: 10px; */
  font-family: "Poppins";
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #df7904;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #1a202c;
}

.otp-container {
  @apply flex justify-between gap-2 w-11/12 mx-auto my-4;
}
.otp-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}
